/* MOBILE SPECIFICATIONS */
@media only screen and (max-width: 700px) {
  .modal {
    margin: 0px;
    width: 100%;
    height: 100%;
  }

  #two_avocados {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .card_row {
    padding-top: 0%;
    margin-bottom: 0%;
  }

  .card_row .col-md-4 {
    padding-bottom: 3%;
  }

  .accordion {
    font-size: 110%;
    border-radius: 50px;
  }

  h1 {
    font-size: 200%;
  }

  .chapter_title {
    font-size: 225%;
  }

  h2 {
    font-size: 175%;
  }

  h3 {
    font-size: 150%;
  }

  h3 {
    font-size: 125%;
  }

  .card-title {
    font-size: 130%;
  }

  .desktop_nav {
    display: none;
    opacity: 0;
  }

  #website_title {
    font-size: 300%;
    font-kerning: normal;
  }

  #website_subtitle {
    font-size: 250%;
  }

  #title_chevron {
    font-size: 300%;
  }

  .intro_emphasis {
    font-size: 6vw;
  }

  p.intro_emphasis {
    font-size: 6vw;
  }

  .intro_paragraphs {
    font-size: 5vw;
  }

  .small-card {
    width: 100%;
    height: 100%;
  }

  .case_cards {
    width: 100%;
    height: 100%;
  }

  .card-get-active {
    height: 50vw;
  }

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
  .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto {
    padding-right: 0;
    padding-left: 0;
  }

  .bio_images {
    width: 50%;
    margin-bottom: 0;
    margin-top: 5%;
  }

  .mobile_nav {
    display: block;
  }

  .nav-link {
    font-weight: 200;
    margin-left: 5px;
    padding-left: 5px;
    border-left: none;
    font-size: 100%;
    padding-top: 15%;
  }

  #navbar-side a {
    color: var(--mobile-nav-color);
  }

  #navbar-side a.active {
    background-color: transparent;
    font-weight: 200;
    margin-left: 5px;
    padding-left: 5px;
    border-left: none;
    font-size: 100%;
    color: var(--secondary-color);
  }

  .sub_nav {
    margin-left: 0;
    padding-left: 0;
  }

  .frameworks_row .body_takeaway {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .bio {
    font-size: 100%;
  }

  #register_drawing {
    display: none;
  }

  ul.toy_algo_boxes li label {
    font-size: 100%;
  }

  #avocado_drawing {
    display: none;
  }

  #toy-algo-houses-area {
    width: 100%;
  }

  .helper {
    display: none;
  }

  .algorithm_icons {
    display: none;
  }

  #typed-strings {
    display: none;
  }

  .alert_text {
    background-color: var(--secondary-color);
    color: white;
    padding: 0;
    border-radius: 25px;
    font-size: 75%;
  }

  .alert_button {
    width: 35px;
    text-align: right;
  }


  .mobile_only{
    display:block;
  }
  .desktop_only{
    display:none;
  }

.footer{
      width:100%;
      position:fixed;
      bottom:0px;
      background-color: var(--secondary-color);
      color:white;
      font-size:15px;
      text-align: center;
      height: 50px;
      padding:1%;
      padding-top: 2%;
      vertical-align: middle;
      opacity: 1;

  }

  .footer a{
    text-decoration: underline white;
  }

.footer a:hover{
    color: white;
    font-size: 110%;
  }

  .contact_info {
    margin-bottom: 55px;
  }

  .hidden{
    display:none;
  }

  .case_study{
    width: 90%;
  }

  .cases_header{
    width: 80%;
  }

}

@media only screen and (max-width: 450px) {

    .card-get-active {
      height: 70vw;
    }
}
