:root {
    --main-color: #F08578;
    --secondary-color: #4C7CBD;
    --dark-color: #616161;
    --link-color: #9E9E9E;
    --popover-word-color: #2ab3a6;
    --popover-word-pressed-color: #2ab3a6;
    --main-font: 'Nunito', sans-serif;
    --secondary-font: 'Copse', serif;
    --houses-color: #BDBDBD;
    --card1-color: #555C96;
    --card2-color: #337FA5;
    --card3-color: #2EC4B6;
    --card4-color: #B5D361;
    --card5-color: #FFD260;
}

/*
  Classes are identified with a .
  IDs are identified with a #
*/


html, body
{
    height: 100%;
}

body {
  font-family: var(--main-font);
  font-size: 110%;
  font-weight:normal;
  position: relative;
}

.container{
  width: 75%;
}

.page {
  min-height: 100%;
}

h1 {
  text-align: center;
  color: var(--main-color);
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 300%;
  font-family: var(--secondary-font);
  font-weight: bold;
}

h2 {
  text-align: center;
  color: var(--main-color);
  padding-top: 5%;
  font-size: 250%;
  font-family: var(--secondary-font);
}

h3 {
  text-align: center;
  color: var(--dark-color);
  font-size: 200%;
  font-family: var(--secondary-font);
  padding-top: 5%;
}

h4{
  font-size: 150%;
  font-family: var(--secondary-font);
}

.body_emphasis{
  font-size: 130%;
  font-weight: 300;
  color: var(--main-color);
}

.body_takeaway{
  font-size: 175%;
  font-weight: 300;
  color: var(--main-color);
}

.citation{
  font-size:80%;
  font-weight: 200;
  color: var(--link-color);
}
/* Navbar styling */

#navbar-side{
  font-size: 80%;
  width: 10%;
}
#navbar-side a.active {
    background-color: transparent;
    font-weight: 500;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 3px solid var(--main-color);
}

#navbar-side a {
  color: var(--link-color);
  text-decoration: none;
}
/* splash screen */
.bg {
  background: url("../img/skyline1.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#website_title{
  font-size: 90px;
  color: var(--main-color);
  margin-bottom: 0%;
  padding-bottom: 0%;
}
#title_chevron{
  color: var(--main-color);
  margin-bottom: 0%;
  text-align: center;
  font-size: 50px;
}

.icon_center{
  text-align: center;
}


#website_subtitle{
  font: var(--main-font);
  font-size: 50px;
  font-weight: 300;
  color: var(--link-color);
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0%;
}

/* intro pages */
.intro_paragraphs{
  font-size: 35px;
  padding-bottom: 2%;
}
.intro_emphasis{
  font-size: 35px;
  color: var(--main-color);
}

strong{
  color: var(--main-color);
}
/* buttons styling */
.btn {
  margin-left: .5%;
  margin-top:.5%;
  text-transform: capitalize;

}

#plain_text{
  font-size: 25px;
}
#legalese_text{
  font-size: 25px
}
#definitions_buttons{
  padding: 5%;
  font-size: 120%;
  text-align:center;
}

#definitions_card{
  height: 20%;
}

/* links style */
/* unvisited link */
a:link {
 color: inherit;
 text-decoration: underline var(--main-color);
}

.tooltip_definition{

}
/* popover */
.popover-definition{
  color: var(--popover-word-color);
}

.popover{
  border: 2px solid;
  border-color: var(--popover-word-color);
  color: var(--secondary-color);
  -moz-box-shadow:-10 10 .75rem;
  -webkit-box-shadow:-10 10 .75rem;
  box-shadow: -10 10 .75rem;
  font-family: var(--main-font);
  font-size: 102%;
  padding: .75rem 1rem;
}

.popover .arrow{
  display: none;
}
/* visited link */
a:visited {
  color: inherit;
  text-decoration: underline var(--main-color);
}

/* mouse over link */
a:hover {
  color: var(--link-color);
}

/* selected link */
a:active {
 color: var(--main-color);
}

/* popover links */
a.popover_word{
  border: 2px solid;
  border-color: var(--popover-word-color);
  border-radius: 10px;
  color: var(--popover-word-color);
  padding: 2px;
  text-decoration: none;
}

a.popover_word:hover {
  background-color: var(--popover-word-pressed-color);
  color: white;
  border-color: var(--popover-word-pressed-color);
}


#nypl_problem_statement{
 border-style: solid;
 border-width: 3px;
 border-radius: 16px;
 padding: 5%;
 color: var(--secondary-color);
}

.row{
  padding-top: 1%;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background:  var(--main-color);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background:  var(--main-color);
  cursor: pointer;
}

.slider-row{
  padding: 1%;
}
/*TOY ALGO STYLE */
.toy_buttons {
  margin-left: .5%;
  margin-top:.5%;
  text-transform: capitalize;

}

.toyAlgoButtonsRow{
padding-top:1%;
padding-bottom:1%;
  text-align: center;
}

.new_section{
  padding-top: 25%;
}



.splash_screen h1{
  color: black;
  font-size: 72px;

}

.splash_screen h2{
  color: black;
  margin-top: 3%;
  font-size: 58px;
}



.fromTopIn
{
	transition: transform 2.0s ease, opacity 2.0s ease;

	transform: translate(0,0);
	opacity: 1.0;
}

.fromTopOut
{
	transition: transform 2.0s ease, opacity 2.0s ease;

	transform: translate(0,-10px);
	opacity: 0.0;
}

.fromBottomIn
{
	transition: transform 2.0s ease, opacity 2.0s ease;

	transform: translate(0,0);
	opacity: 1.0;
}

.fromBottomOut
{
	transition: transform 2.0s ease, opacity 2.0s ease;

	transform: translate(0,10px);
	opacity: 0.0;
}

.chapter_number{
  font-size: 300%;
  font-weight: lighter;
  width: 100px;
  height: 100px;
  background: var(--main-color);
  color: white;
  margin: auto;
  padding: 18px;
  border-radius: 50%;
}

.chapter_title{
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 300%;
  color: var(--link-color);
  text-align: center;
  margin-bottom: 50px;
  padding: 0;
}

/* ADS Accordian*/
.accordion {
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  margin-top: 5%;
  padding: 2%;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: center;
  font-size: 200%;
  border-radius: 50px;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordian:focus{
    background-color: #ccc;
}

#nypl_accordian{
  background-color: #F4A79C;
}
#workerConnect_accordian{
  background-color: #F19184;
}

#fdny_accordian{
  background-color: #DB7A6E;
}
.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

#mejia_photo{
  text-align: center;
}

.algorithm_icons{
  color: var(--main-color);
  font-size: 400%;
  text-align: center;
}

.algorithm_arrows{
  color: var(--dark-color);
  font-size: 250%;
  font-weight: 500;
  text-align: center;
}

p{
  padding-top: 3%;
}

.hvr-icon-forward2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(100%) translateZ(0);
  transform: perspective(100%) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.hvr-icon-forward2 .hvr-icon2 {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward2:hover .hvr-icon2, .hvr-icon-forward2:focus .hvr-icon2, .hvr-icon-forward2:active .hvr-icon2 {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.machine-bias-card{
  background-color:var(--card2-color);
  color: white;
}

.bias-title{
  color: var(--card2-color);
}
.explainability-card{
  background-color: var(--card3-color);
  color: white;
}

.explainability-title{
  color: var(--card3-color);
}

.automation-card{
  background-color:var(--card4-color);
  color: white;
}

.automation-title{
  color: var(--card4-color);
}

.flexibility-card{
  background-color: var(--card5-color);
  color: white;

}

.flexibility-title{
  color: var(--card5-color);
}

.impact-card{
  background-color: var(--card1-color);
  color: white;
}
.impact-title{
  color: var(--card1-color);
}

.card-reveal{
  color: black;
}

.small-card{
  width: 100%;
  height:100%

}

.small-card .card-content{
  padding-left: 4%;
  padding-right: 4%;
}

.small-card-row{
  margin-bottom:0px;
  margin-top: 0px;
}
.small-card-row .col{
  padding: .5%;
}

.card_icon{
  font-size: 600%;
  text-align: center;
}

.card.medium{
margin-top:1%;
height:400px;
margin-left: 20%;
}



#profirio_framework{
  padding-top:15%;
  padding-bottom: 10%;
}
.case-study{
  width: 80%
}

.affix {
  top:0;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.frameworks_row{
  margin-top: 15%;
  margin-bottom: 15%;
}

.definitions_hidden{
  display: none;
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color: #545b62;
}

.avocado_images {
  width: 20%;
}

.avocado_section{
  text-align: center;
}

.avocado_section p{
  padding-bottom: 3%;
}
.avocado_rows{
  padding-top:0;
}

.avocado_rows p{
  padding-top: 1%;
}
.avo_right{
  text-align: right;
}

.row_no_padding{
  padding-top:0px;
}

.vertical-center {
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.collapsible-body{
  background-color: white;
}
.collapsible-header{
  text-align: center;
  color: var(--main-color);
}

.overlay {
    position: absolute;
    top: -2%;
    bottom: 0;
    left: -2%;
    right: 0;
    height: 110%;
    width: 110%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
    border: transparent;
    box-shadow: transparent;
}

.fade-container:hover .overlay {
    opacity: 1;
}

.icon-fade {
    font-size: 400%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.impact-card .icon-fade{
    color: var(--card1-color);
}


.machine-bias-card .icon-fade{
    color: var(--card2-color);
}

.explainability-card .icon-fade{
    color: var(--card3-color);
}

.automation-card .icon-fade{
    color: var(--card4-color);
}

.flexibility-card .icon-fade{
    color: var(--card5-color);
}

.small-card-row a{
  text-decoration: none;
}

#impact_section strong {
  color: var(--card1-color);
}

.impact_collapsible .collapsible-header{
  color: var(--card1-color);
}

#bias_section strong {
  color: var(--card2-color);
}

.bias_collapsible .collapsible-header{
  color: var(--card2-color);
}

#explainability_section strong {
  color: var(--card3-color);
}

.explainability_collapsible .collapsible-header{
  color: var(--card3-color);
}

#automation_section strong {
  color: var(--card4-color);
}

.automation_collapsible .collapsible-header{
  color: var(--card4-color);
}

#flexibility_section strong {
  color: var(--card5-color);
}

.flexibility_collapsible .collapsible-header{
  color: var(--card5-color);
}

.case_cards{
  margin: 1%;
  margin-left: 1%;
}

/* Toy algo buttons */

ul.toy_algo_boxes {
    list-style: none;
    padding: 2%;
}
ul.toy_algo_boxes li{
  display: inline;
}

ul.toy_algo_boxes li label{
    display: inline-block;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    border-radius: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    font-size: 120%;
}

ul.toy_algo_boxes li label {
    padding:1%;
    cursor: pointer;
}

ul.toy_algo_boxes li label::before {
    font-size: 120%;
    padding:1%;
}

ul.toy_algo_boxes li input[type="checkbox"]:checked + label {
    background-color: var(--main-color);
    color: white;
    transition: all .2s;
}

#human_ADS_differences li {
    list-style-type: circle;
}
