:root {
    --main-color: #0097a0;
    --secondary-color: #aaa;
    --main-font: 'Roboto', sans-serif;
}

/*
  Classes are identified with a .
  IDs are identified with a #
*/


html, body
{
    height: 100%;
}

body {
  font-family: var(--main-font);
  font-size: 110%;
}

.page {
  min-height: 100%;
}

h1 {
  text-align: center;
  color: var(--main-color);
  margin-top: 10%;
  margin-bottom: 5%;
}

h2 {
  text-align: center;
  color: var(--main-color);
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 25;
}

/* splash screen */
.bg {
  /* The image used */
  background-image: url("");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* intro pages */
.intro_paragraphs{
  font-size: 20px;
  padding-bottom: 10%;
}

strong{
  color: var(--main-color);
}

#definitions_buttons{
  padding: 5%;
  font-size: 120%;
}

.problem_statement{
  border-style: solid;
 border-width: 5px;
 border-radius: 16px;
 padding: 5%;
}

.row{
  padding-top: 5%;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background:  var(--main-color);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background:  var(--main-color);
  cursor: pointer;
}

.slider-row{
  padding: 1%;
}

.toy_buttons {
  margin-top: 3%;
  margin-left: 1%;
}



.splash_screen h1{
  color: black;
  font-size: 72px;

}

.splash_screen h2{
  color: black;
  margin-top: 3%;
  font-size: 58px;
}



.fromTopIn
{
	transition: transform 2.0s ease, opacity 2.0s ease;

	transform: translate(0,0);
	opacity: 1.0;
}

.fromTopOut
{
	transition: transform 2.0s ease, opacity 2.0s ease;

	transform: translate(0,-10px);
	opacity: 0.0;
}

.fromBottomIn
{
	transition: transform 2.0s ease, opacity 2.0s ease;

	transform: translate(0,0);
	opacity: 1.0;
}

.fromBottomOut
{
	transition: transform 2.0s ease, opacity 2.0s ease;

	transform: translate(0,10px);
	opacity: 0.0;
}

#profirio{
  font-size: 300%;
  text-align: center;
}

/* ADS Accordian*/
.accordion {
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  padding: 2%;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: center;
  font-size: 50px;

}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

#mejia_photo{
  text-align: center;
}

.algorithm_icons{
  color: var(--main-color);
  font-size: 400%;
  text-align: center;
}

.algorithm_arrows{
  color: black;
  font-size: 250%;
  text-align: center;
}

p{
  padding-top: 3%;
}

.hvr-icon-forward2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(100%) translateZ(0);
  transform: perspective(100%) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.hvr-icon-forward2 .hvr-icon2 {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward2:hover .hvr-icon2, .hvr-icon-forward2:focus .hvr-icon2, .hvr-icon-forward2:active .hvr-icon2 {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
